<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="HelloWorldEndpoint" 
                address="http://localhost:8080/HelloWorldService"
                binding="basicHttpBinding"
                contract="IHelloWorldService" />
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information"
              propagateActivity="true">
        <listeners>
          <add name="XmlWriter" />
        </listeners>
      </source>
      <source name="CustomClient"
              switchValue="Information">
        <listeners>
          <add name="Console" />
          <add name="XmlWriter" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener" />
      <add name="XmlWriter" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\Client.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>