<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/HelloWorldService"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="HelloWorldService" behaviorConfiguration="metadataBehavior">
        <endpoint address="http://localhost:8080/HelloWorldService"
                  binding="basicHttpBinding"
                  contract="IHelloWorldService"/>
        <endpoint address="http://localhost:8080/HelloWorldService/mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="Lybecker" switchValue="Information">
        <listeners>
          <add name="Console" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>